target
lib
.classpath
.project
.settings
.vscode
dependency-reduced-pom.xml
*.tif
*.tiff
!**/src/test/java/dk/itu/raven/data/*
*.png
*.raven
*.jpg
*.jpeg
*.exe
*.txt
*.zip
out/
!requirements.txt
results/
results.json
**/test/mount
__pycache__